#contactUs {
    // background: #0084ff;
    label {
        display: block !important;
        color: inherit !important;
        font-size: 0.88889em !important;
        font-weight: normal !important;
        line-height: 1.5 !important;
        margin-bottom: 0.3em !important;
    }
    .contact-card {
        background-color: #0084ff;
    }
    .input-style {
        border: 1px solid #606a66 !important;
        border-radius: 2px !important;
        border-color: #ccc !important;
    }
    @media (min-width: 886px) {
        .item {
            margin-left: -30px;
        }
        .contact-card {
            min-height: 539px;
        }
    }
}
