#marketing {
    .header-section {
        background-color: rgba(242, 251, 255, 1);
        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
    .report-section {
        background-image: linear-gradient(to right, #0084ff, #f2fbff);
        .title {
            color: white;
        }
        .regardless-section-small-text {
            align-items: center;
            display: flex;
            justify-content: center;
            .contact-us-btn {
                font-size: 20px;
            }
        }
    }
    .abilities-section {
        .marketing-card {
            display: flex;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 10px;
            align-items: center;
            cursor: pointer;

            .marketing-card-img {
                object-fit: cover;
                aspect-ratio: 3/2;
                max-width: 3rem;
                padding: 10px;
                height: 3rem;
            }
            .marketing-card-title {
                padding-left: 15px;
                // padding: 10px;
                align-items: center;
                margin: 0px;
            }
          
        }
    }
    .templates-section {
        .templates-card {
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            align-items: center;
            cursor: pointer;
            padding: 5px 7px !important;
            border: none;
            height: 100%;
          
            .templates-card-img {
                border-radius: 5px;
                object-fit: cover;
                aspect-ratio: 3/2;
            }
            .templates-card-title {
                padding-left: 15px;
                align-items: center;
                margin: 0px;
            }
           
        }
    }
}
