.solution-category {
    .header-section {
        background-color: rgba(242, 251, 255, 1);
        .header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
