#solutions {
    .heading-section {
        background-color: rgba(242, 251, 255, 1);
        text-align: center;
        .heading {
            .sub-title-text {
                padding: 0px 150px 50px 150px;
                margin: 10px 0px 10px 0px;
                color: #2c343c;
                @media only screen and (max-width: 992px) {
                    padding: 0px 50px 40px 50px;
                    margin: 10px 0px 10px 0px;
                }
                @media only screen and (max-width: 700px) {
                    padding: 0px 0px 30px 0px;
                    margin: 0px 0px 0px 0px;
                }
            }
        }
    }

    .Regardless-section {
        background-color: rgba(234, 234, 234, 1);
        padding: 3rem;
        .regardless-section-small-text {
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .market-card-container {
        border: 1px solid #0084ff;
        color: #2c343c;
        border-radius: 2px;
        padding: 15px;
        height: 100%;
        box-sizing: border-box;
        text-align: center;
        .solutions-card-img {
            width: 50px;
            border: 2px solid #0084ff;
            padding: 10px;
            border-radius: 20px;
        }
        .icon-container {
            display: flex;
            justify-content: center;
            height: 100px;
            align-items: center;
            .icon {
                width: 50px;
                height: 50px;
            }
        }
        .card-title {
            font-size: 25px;
            line-height: 1.25;
            margin: 1rem 0;
        }
    }

    .solutions-feature-section {
        background-color: rgba(242, 242, 242, 1);
        color: #2c343c;

        .solutions-feature-text {
            text-align: left;
            padding: 0px 1.667rem 0px 5rem;
            @media only screen and (max-width: 1200px) {
                padding: 0 1.667rem 0px 3.33rem;
            }
            @media only screen and (max-width: 991px) {
                padding: 0 1.667rem 0px 2.22rem;
            }
            @media only screen and (max-width: 800px) {
                padding: 0px 1.667rem 0px 1.667rem;
            }
        }
        .solutions-feature-text.order-md-first {
            text-align: left;
            padding: 0px 5rem 0px 1.667rem;
            @media only screen and (max-width: 1200px) {
                padding: 0 3.33rem 0px 1.667rem;
            }
            @media only screen and (max-width: 991px) {
                padding: 0 1.667rem 0px 1.667rem;
            }
            @media only screen and (max-width: 800px) {
                padding: 0px 2.22rem 0px 1.667rem;
            }
        }
    }
    .faq-section {
        background-color: #0084ff;
        text-align: left;
        .faq-container {
            max-width: 935px;
            color: #fff;
        }

        .faq-data {
            color: #2c343c;
            background-color: aliceblue;
            padding: 10px 15px 10px 15px;
            margin-bottom: 10px;
            border-radius: 2px;
            cursor: pointer;

            .desc {
                display: flex;
                height: 100%;
                transition: all 3s;
            }
            .desc.hide {
                height: 0;
                display: none;
            }
        }
    }
    .sign-up-section {
        .sign-up-section-text {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: flex-start;
            font-size: larger;
            @media only screen and (max-width: 800px) {
                text-align: center;
                align-items: center;
            }
        }
        .sign-up-section-btn {
            @media only screen and (max-width: 800px) {
                align-items: center;
            }
        }
        .sign-up-section-img {
            width: 100%;
        }
    }
}
