/**
 * Icons
 */
.icon {
	color: inherit;
	fill: currentColor;
	flex-shrink: 0;
	height: 1em;
	line-height: 1;
	width: 1em;align-self: center;
}
.arrow-down {
	color: inherit;
	fill: currentColor;
	flex-shrink: 0;
	height: 10px;
	line-height: 1;
	width: 1em;
}