.template-layout {
    
    .categories-list-container {
        color: black;
        .categories-heading {
            font-weight: normal;
        }
    }

    .templates-container {
        .search-bar {
            width: 100%;
            border: 1px solid;
        }
    }
}
